.main-title{
    margin: 0 auto 80px;
    width: fit-content;
    border: 2px solid black;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    transition: $transition;
    user-select: none;
    &:hover{
        color: white;
        border: 2px solid white;
        transition-delay: 0.4s;
    }

    &:hover::before{
        z-index: -1;
        animation: left-move 0.4s forwards linear;
    }
    &:hover::after{
        z-index: -1;
        animation: right-move 0.4s forwards linear;
    }
    
    &::before{
        content: "";
        width: 12px;
        height: 12px;
        background-color: $main-color;
        position: absolute;
        left: -20%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
    &::after{
        content: "";
        width: 12px;
        height: 12px;
        background-color: $main-color;
        position: absolute;
        right: -20%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
   
}