.team-member{
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;
    background-color: white;
    position: relative;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        .box{
           position: relative;
           z-index: 1;
           &:hover .info h3{
            color: #777;
           }
           &:hover::after{
            width: calc(100% - 60px);
           }
           &:hover img{
            filter: grayscale(100%);
           }
           &::before,&::after{
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            border-radius: 10px;
           }
           &::before{
            background-color: #f3f3f3;
            width: calc(100% - 60px);
            z-index: -2;
            transition: $transition;
           }
           &::after{
            background-color: #e4e4e4;
            width: 0;
            z-index: -1;
            transition: $transition;
           }
            .data{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 60px;
                img{
                    width: calc(100% - 60px);
                    transition: $transition;
                    border-radius: 10px;

                }
                .socials{
                    text-align: center;
                    margin: 0 20px;
                    li{
                        margin: 20px 0;
                    }
                    a{
                        color: #777;
                        transition: $transition;
                        font-size: 1.2rem;
                        &:hover{
                            color: $main-color;
                        }
                    }
                    
                }

            }
            .info{
                padding-left: 80px;
                h3{

                    color: $main-color;
                    margin-bottom: 0;
                    font-size: 1.2em;
                    transition: $transition;
                    

                }
                p{
                    color: #777;
                    margin: 10px 0 25px;
                }
            }
        }
    }
}