.main-title {
  margin: 0 auto 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.4s;
}
.main-title:hover::before {
  z-index: -1;
  -webkit-animation: left-move 0.4s forwards linear;
          animation: left-move 0.4s forwards linear;
}
.main-title:hover::after {
  z-index: -1;
  -webkit-animation: right-move 0.4s forwards linear;
          animation: right-move 0.4s forwards linear;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #2196F3;
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #2196F3;
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

nav {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
nav .container .logo {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  nav .container .logo {
    width: 100%;
    height: 50px;
  }
}
nav .container .logo a {
  font-size: 1.7rem;
  font-weight: bold;
  color: #2196F3;
}
nav .container .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  nav .container .main-nav {
    margin: auto;
  }
}
nav .container .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
nav .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0 30px;
  text-transform: capitalize;
  height: 72px;
  position: relative;
  font-weight: 500;
  transition: 0.3s;
  font-size: 1.1rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  nav .container .main-nav > li > a {
    font-size: 14px;
    height: 40px;
    padding: 0 10px;
    margin: auto;
  }
}
nav .container .main-nav > li > a::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: -100%;
  height: 4px;
  background-color: #2196F3;
  transition: 0.3s;
}
nav .container .main-nav > li > a:hover {
  background-color: #FaFaFa;
  color: #2196F3;
}
nav .container .main-nav > li > a:hover::before {
  left: 0;
}

.mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  width: 100%;
  background-color: white;
  padding: 20px;
  z-index: -1;
  display: flex;
  align-items: center;
  gap: 40px;
  border-bottom: 4px solid #2196F3;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    align-items: flex-start;
  }
}
.mega-menu .image {
  max-width: 100%;
}
@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}
.mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.mega-menu .links li {
  position: relative;
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .mega-menu .links li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #fafafa;
  transition: 0.3s;
  z-index: -1;
}
.mega-menu .links li:hover:before {
  width: 100%;
}
.mega-menu .links li a {
  color: #2196F3;
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.mega-menu .links li a i {
  margin-right: 10px;
}

@-webkit-keyframes up_down {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes up_down {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-10%);
  }
}
@-webkit-keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@-webkit-keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@-webkit-keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@-webkit-keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #ececec;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.landing .container .text {
  flex: 1;
}
.landing .container .text h1 {
  font-size: 3rem;
  margin: 0;
  color: black;
}
@media (max-width: 991px) {
  .landing .container .text h1 {
    font-size: 2rem;
  }
}
.landing .container .text p {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  color: #666;
  margin-top: 10px;
  line-height: 1.6;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .container .text p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .image {
  flex: 1;
}
.landing .container .image img {
  position: relative;
  width: 600px;
  -webkit-animation: up_down 5s infinite linear;
          animation: up_down 5s infinite linear;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  -webkit-animation: bouncing 1.5s infinite;
          animation: bouncing 1.5s infinite;
}
.landing .go-down:hover {
  color: #ececec;
}
.landing .go-down i {
  font-size: 40px;
  color: #2196F3;
  font-weight: 800;
}

.articles {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .container .box:hover i {
  -webkit-animation: moving-arrow 0.6s linear infinite;
          animation: moving-arrow 0.6s linear infinite;
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
  text-transform: capitalize;
}
.articles .container .box .content p {
  text-transform: capitalize;
  margin: 10px 0 0 0;
  line-height: 1.6;
  color: #777;
}
.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .info a {
  color: #2196F3;
  font-weight: bold;
}
.articles .container .box .info i {
  color: #2196F3;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #ececec;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  box-shadow: 0 0 10px #ddd;
  padding: 15px;
  background-color: white;
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image:hover::before {
  -webkit-animation: flashing 0.5s;
          animation: flashing 0.5s;
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
.gallery .container .box .image img {
  width: 100%;
  max-width: 100%;
  transition: 0.3s;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
}

.features {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 1px solid #ccc;
  text-align: center;
}
.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}
.features .container .box:hover .img-holder:after {
  border-width: 170px 500px 170px 0px;
}
.features .container .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .container .box .img-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.features .container .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 0 170px 500px;
  transition: 0.3s;
}
.features .container .box .img-holder img {
  max-width: 100%;
}
.features .container .box h2 {
  font-size: 2.5rem;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.features .container .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);
  height: 4px;
}
.features .container .box p {
  line-height: 2;
  font-size: 20px;
  color: #999;
  padding: 25px;
  margin: 30px 0;
}
.features .container .box a {
  display: block;
  margin: 0 auto 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 20px;
  transition: 0.3s;
}
.features .container .quality .img-holder::before {
  background-color: rgba(244, 64, 54, 0.6);
}
.features .container .quality h2::after {
  background-color: #f44036;
}
.features .container .quality a {
  color: #f44036;
  border: 3px solid #f44036;
  border-radius: 6px;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .time .img-holder::before {
  background-color: rgba(0, 150, 136, 0.6);
}
.features .container .time h2::after {
  background-color: #009688;
}
.features .container .time a {
  color: #009688;
  border: 3px solid #009688;
  border-radius: 6px;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .passion .img-holder::before {
  background-color: rgba(3, 169, 244, 0.6);
}
.features .container .passion h2::after {
  background-color: #03a9f4;
}
.features .container .passion a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
  border-radius: 6px;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.testimonials {
  background-color: #ececec;
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  padding: 20px;
  border-radius: 6px;
}
.testimonials .container .box img {
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ececec;
}
.testimonials .container .box h3 {
  margin: 0 0 10px 0;
}
.testimonials .container .box .title {
  color: #777;
  margin-bottom: 12px;
  display: block;
}
.testimonials .container .box .rate .filled {
  color: #ffc107;
}
.testimonials .container .box p {
  line-height: 1.6;
  color: #777;
  margin-top: 10px;
}

.team-member {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  position: relative;
}
.team-member .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-member .container .box {
  position: relative;
  z-index: 1;
}
.team-member .container .box:hover .info h3 {
  color: #777;
}
.team-member .container .box:hover::after {
  width: calc(100% - 60px);
}
.team-member .container .box:hover img {
  filter: grayscale(100%);
}
.team-member .container .box::before, .team-member .container .box::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 10px;
}
.team-member .container .box::before {
  background-color: #f3f3f3;
  width: calc(100% - 60px);
  z-index: -2;
  transition: 0.3s;
}
.team-member .container .box::after {
  background-color: #e4e4e4;
  width: 0;
  z-index: -1;
  transition: 0.3s;
}
.team-member .container .box .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.team-member .container .box .data img {
  width: calc(100% - 60px);
  transition: 0.3s;
  border-radius: 10px;
}
.team-member .container .box .data .socials {
  text-align: center;
  margin: 0 20px;
}
.team-member .container .box .data .socials li {
  margin: 20px 0;
}
.team-member .container .box .data .socials a {
  color: #777;
  transition: 0.3s;
  font-size: 1.2rem;
}
.team-member .container .box .data .socials a:hover {
  color: #2196F3;
}
.team-member .container .box .info {
  padding-left: 80px;
}
.team-member .container .box .info h3 {
  color: #2196F3;
  margin-bottom: 0;
  font-size: 1.2em;
  transition: 0.3s;
}
.team-member .container .box .info p {
  color: #777;
  margin: 10px 0 25px;
}

.services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  position: relative;
  background-color: white;
  counter-increment: services;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.3s;
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #2196F3;
  width: 0;
  transition: 0.3s;
}
.services .container .box i {
  display: block;
  margin: 25px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #d5d5d5;
}
.services .container .box h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 25px auto;
  font-size: 1.7rem;
  color: #2196F3;
  text-transform: capitalize;
}
.services .container .box .info {
  position: relative;
  background-color: #f9f9f9;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2196F3;
  width: 80px;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  z-index: 1;
}
.services .container .box .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
  width: 50px;
  height: calc(100% + 1px);
  z-index: 2;
}
.services .container .box .info a {
  color: #2196F3;
}

.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .container .skills {
  flex: 1;
}
.our-skills .container .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .container .skills .skill h3 span {
  color: #2196F3;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 3px 5px;
  border-radius: 3px;
}
.our-skills .container .skills .skill .progress {
  background-color: #eeeeee;
  width: 100%;
  height: 30px;
  position: relative;
}
.our-skills .container .skills .skill .progress span {
  background-color: #2196F3;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work-steps {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container > img {
  max-width: 100%;
}
.work-steps .container .info .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5f5;
  position: relative;
  border: 2px solid white;
  padding: 30px;
  border-radius: 8px;
  gap: 40px;
  margin-bottom: 20px;
  z-index: 1;
}
@media (max-width: 375px) {
  .work-steps .container .info .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .container .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .container .info .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #ededed;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.3s;
}
.work-steps .container .info .box img {
  width: 65px;
}
.work-steps .container .info .box .text h2 {
  color: black;
  margin: 10px 0 0;
}
.work-steps .container .info .box .text p {
  color: #666;
  line-height: 1.7;
  font-size: 18px;
  margin-top: 10px;
}

.latest-events {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.latest-events .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.latest-events .container img {
  max-width: 480px;
}
@media (max-width: 991px) {
  .latest-events .container img {
    display: none;
  }
}
.latest-events .container .info {
  flex: 1;
  text-align: center;
}
.latest-events .container .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.latest-events .container .info .time .unit {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  min-width: 80px;
  transition: 0.3s;
}
.latest-events .container .info .time .unit:hover {
  border: 1px solid #2196F3;
}
.latest-events .container .info .time .unit:hover span:last-child {
  border-top: 1px solid #2196F3;
}
.latest-events .container .info .time .unit .days {
  color: #2196F3;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.latest-events .container .info .time .unit span:last-child {
  border-top: 1px solid #d4d4d4;
  padding: 10px;
  font-size: 14px;
  transition: 0.3s;
}
.latest-events .container .info .title {
  color: black;
  font-size: 30px;
  margin: 20px;
}
.latest-events .container .info .description {
  color: #777;
  font-size: 20px;
  line-height: 1.7;
}
.latest-events .container .subscribe {
  width: 100%;
}
.latest-events .container .subscribe form {
  background-color: #f6f5f5;
  border-radius: 80px;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 600px;
  margin: auto;
}
@media (max-width: 767px) {
  .latest-events .container .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 3px;
    gap: 20px;
  }
}
.latest-events .container .subscribe form input[type=email] {
  padding: 20px;
  border-radius: 50px;
  flex: 2;
  border: unset;
  outline: unset;
  caret-color: #2196F3;
  color: #2196F3;
}
@media (max-width: 767px) {
  .latest-events .container .subscribe form input[type=email] {
    padding: 10px 30px;
    border-radius: 0;
  }
}
.latest-events .container .subscribe form input[type=submit] {
  background-color: #2196F3;
  border: unset;
  outline: unset;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  flex: 1;
  padding: 20px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .latest-events .container .subscribe form input[type=submit] {
    padding: 15px;
    border-radius: 0;
  }
}
.latest-events .container .subscribe form input[type=submit]:hover {
  background-color: #5d5d5d;
}

.pricing {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing .container .box {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
  transition: 0.3s;
  z-index: 1;
}
.pricing .container .box:hover .label::before {
  border-color: transparent transparent #f6f6f6;
  transition-delay: 0.2s;
}
.pricing .container .box:hover::before, .pricing .container .box:hover::after {
  width: 100%;
}
.pricing .container .box::before, .pricing .container .box::after {
  content: "";
  background-color: #f6f6f6;
  position: absolute;
  width: 0;
  height: 50%;
  transition: 0.3s;
  z-index: -1;
}
.pricing .container .box::before {
  left: 0;
  top: 0;
}
.pricing .container .box::after {
  right: 0;
  bottom: 0;
}
.pricing .container .box h3 {
  font-size: 1.8rem;
  text-align: center;
  margin: 30px auto;
}
.pricing .container .box img {
  width: 80px;
  margin: auto;
  display: block;
}
.pricing .container .box .price {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.pricing .container .box .price .amount {
  font-size: 4rem;
  color: #2196F3;
  font-weight: bold;
}
.pricing .container .box .price .time {
  color: #777;
  font-size: 18px;
}
.pricing .container .box ul li {
  padding: 20px 0 20px 20px;
  border-top: 1px solid #eee;
}
.pricing .container .box ul i {
  color: #2196F3;
  margin-right: 10px;
}
.pricing .container .box a {
  display: block;
  margin: 30px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #2196F3;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #2196F3;
  font-weight: bold;
  transition: 0.3s;
}
.pricing .container .box a:hover {
  background-color: #2196F3;
  color: white;
}
.pricing .container .adevanced .label {
  background-color: #2196F3;
  color: white;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-weight: bold;
  position: absolute;
  right: 25px;
  padding: 10px 10px 30px 10px;
  width: 40px;
}
.pricing .container .adevanced .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white;
}
@media (min-width: 1200px) {
  .pricing .container .adevanced {
    transform: translateY(-20px);
  }
}

.videos {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.videos .container .holder {
  display: flex;
  justify-content: center;
  background-color: #ececec;
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .container .holder {
    flex-direction: column;
  }
}
.videos .container .holder .lists {
  min-width: 300px;
  height: 560px;
  background-color: white;
  overflow-y: scroll;
}
.videos .container .holder .lists .name {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
}
.videos .container .holder .lists ul li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  border-top: 1px solid #eee;
}
.videos .container .holder .lists ul li:hover {
  color: #2196F3;
  background-color: #f4f4f4;
}
.videos .container .holder .lists ul li span {
  display: block;
  margin: 10px 0;
  color: #555;
  font-weight: lighter;
  font-size: 17px;
}
.videos .container .holder .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.videos .container .holder .preview img {
  max-width: 100%;
}
.videos .container .holder .preview .info {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */